/*The title centered*/
h1 {
    text-align: center;
}

.report-div
{
    top: 0px;
}
/*Teh div for the organization etc  allign right*/
.details-div{
    text-align: right;
    position: relative;
    top: 50px;
    right: 50px;
}

/*The items of the inventory for the report centered for the document hight and width*/
.centered-div
{
    position: relative;
    top: 300px;
    text-align: center;
}
/*outside border*/
.outside-container {
    height: 1050px;    
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    }
/*Inner border*/
.container
{
    height: 1050px;    
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

html {
    margin: 0px;
}
/*Size for printing*/
@page { 
    size: A4;
    margin: 0cm
     }
/*Borders for printing and viewing the pdf*/
@media screen, print
{
    html {
        margin: 0px;
        border: 15px solid;
    }
    .outside-container {
        margin: 0px;
        border: 5px solid ;
    }
    .container {
        margin: 1px;
        border: 2px solid grey;
    }
}
