<!doctype html>
<html>
  <head>
    <title>Report Exporting Service </title></title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
    <div class='outside-container'>
    <div class="container">
      <div class='report-div'>
        <h1>The Report</h1>
      </div>
      <div class='details-div'>
        <ul style="list-style-type:none">
          <li>Organization:  {{ reported_dictionary.organization }} </li>
          <li>Reported: {{ reported_dictionary.reported_at }}</li>
          <li>Created: {{ reported_dictionary.created_at }}</li>
        </ul>
      </div>
      <div class='centered-div'>
        <ul style="list-style-type:none">for item in inventory:
          {% for item in reported_dictionary.inventory %}
          <li>{{ item.name }} : {{ item.price }}</li>
          
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
    <!-- </div> -->
  </body>
</html>
